---
http_interactions:
- request:
    method: get
    uri: https://api.myanimelist.net/v2/anime/1?fields=id,title,main_picture,alternative_titles,start_date,end_date,synopsis,mean,rank,popularity,num_list_users,num_scoring_users,nsfw,created_at,updated_at,media_type,status,genres,num_episodes,start_season,broadcast,source,average_episode_duration,rating,pictures,background,related_anime,related_manga,recommendations,studios,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mal-Client-Id:
      - ab75fe72617c2d1ab411e46bb31c144f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":1,"title":"Cowboy Bebop","main_picture":{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/4\/19644.jpg","large":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/4\/19644l.jpg"},"alternative_titles":{"synonyms":[],"en":"Cowboy
        Bebop","ja":"\u30ab\u30a6\u30dc\u30fc\u30a4\u30d3\u30d0\u30c3\u30d7"},"start_date":"1998-04-03","end_date":"1999-04-24","synopsis":"In
        the year 2071, humanity has colonized several of the planets and moons of
        the solar system leaving the now uninhabitable surface of planet Earth behind.
        The Inter Solar System Police attempts to keep peace in the galaxy, aided
        in part by outlaw bounty hunters, referred to as \"Cowboys.\" The ragtag team
        aboard the spaceship Bebop are two such individuals.\n \nMellow and carefree
        Spike Spiegel is balanced by his boisterous, pragmatic partner Jet Black as
        the pair makes a living chasing bounties and collecting rewards. Thrown off
        course by the addition of new members that they meet in their travels\u2014Ein,
        a genetically engineered, highly intelligent Welsh Corgi; femme fatale Faye
        Valentine, an enigmatic trickster with memory loss; and the strange computer
        whiz kid Edward Wong\u2014the crew embarks on thrilling adventures that unravel
        each member''s dark and mysterious past little by little.\n\nWell-balanced
        with high density action and light-hearted comedy, Cowboy Bebop is a space
        Western classic and an homage to the smooth and improvised music it is named
        after.\n\n[Written by MAL Rewrite]","mean":8.77,"rank":34,"popularity":43,"num_list_users":1516995,"num_scoring_users":737728,"nsfw":"white","created_at":"2005-06-30T05:01:56+00:00","updated_at":"2021-12-31T02:07:33+00:00","media_type":"tv","status":"finished_airing","genres":[{"id":1,"name":"Action"},{"id":2,"name":"Adventure"},{"id":4,"name":"Comedy"},{"id":8,"name":"Drama"},{"id":24,"name":"Sci-Fi"},{"id":29,"name":"Space"}],"num_episodes":26,"start_season":{"year":1998,"season":"spring"},"broadcast":{"day_of_the_week":"saturday","start_time":"01:00"},"source":"original","average_episode_duration":1440,"rating":"r","pictures":[{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/7\/3791.jpg","large":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/7\/3791l.jpg"},{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/12\/19609.jpg","large":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/12\/19609l.jpg"},{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/4\/19644.jpg","large":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/4\/19644l.jpg"},{"medium":"https:\/\/api-cdn.myanimelist.net\/ima[...]
