---
http_interactions:
- request:
    method: get
    uri: https://api.myanimelist.net/v2/users/michael_apl/animelist?fields=list_status&limit=100&status=completed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mal-Client-Id:
      - ab75fe72617c2d1ab411e46bb31c144f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"node":{"id":31646,"title":"3-gatsu no Lion","main_picture":{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/6\/82898.jpg","large":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/6\/82898l.jpg"}},"list_status":{"status":"completed","score":8,"num_episodes_watched":22,"is_rewatching":false,"updated_at":"2017-03-18T22:15:08+00:00","finish_date":"2017-03-18"}},{"node":{"id":35180,"title":"3-gatsu
        no Lion 2nd Season","main_picture":{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/3\/88469.jpg","large":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/3\/88469l.jpg"}},"list_status":{"status":"completed","score":9,"num_episodes_watched":22,"is_rewatching":false,"updated_at":"2018-03-31T20:24:22+00:00","finish_date":"2018-03-31"}},{"node":{"id":34647,"title":"3-gatsu
        no Lion Recap","main_picture":{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/9\/83593.jpg","large":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/9\/83593l.jpg"}},"list_status":{"status":"completed","score":0,"num_episodes_watched":1,"is_rewatching":false,"updated_at":"2017-01-03T03:19:13+00:00","start_date":"2017-01-02","finish_date":"2017-01-02"}},{"node":{"id":11759,"title":"Accel
        World","main_picture":{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/8\/38155.jpg","large":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/8\/38155l.jpg"}},"list_status":{"status":"completed","score":6,"num_episodes_watched":24,"is_rewatching":false,"updated_at":"2020-03-02T03:33:43+00:00"}},{"node":{"id":13939,"title":"Accel
        World EX","main_picture":{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/10\/41815.jpg","large":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/10\/41815l.jpg"}},"list_status":{"status":"completed","score":0,"num_episodes_watched":2,"is_rewatching":false,"updated_at":"2020-03-02T03:33:45+00:00"}},{"node":{"id":31763,"title":"Accel
        World: Infinite\u221eBurst","main_picture":{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/5\/87145.jpg","large":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/5\/87145l.jpg"}},"list_status":{"status":"completed","score":5,"num_episodes_watched":1,"is_rewatching":false,"updated_at":"2017-04-22T11:04:28+00:00"}},{"node":{"id":34881,"title":"Aho
        Girl","main_picture":{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/7\/86665.jpg","large":"https:\/\/api-cdn.myanimelist.[...]
