---
http_interactions:
- request:
    method: get
    uri: https://api.myanimelist.net/v2/anime?limit=10&q=two
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Mal-Client-Id:
      - ab75fe72617c2d1ab411e46bb31c144f
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"node":{"id":36009,"title":"Two Car","main_picture":{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/3\/88291.jpg","large":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/3\/88291l.jpg"}}},{"node":{"id":34422,"title":"Two
        Tea Two","main_picture":{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/10\/82935.jpg","large":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/10\/82935l.jpg"}}},{"node":{"id":36896,"title":"Boku
        no Hero Academia the Movie 1: Futari no Hero","main_picture":{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/1736\/93138.jpg","large":"https:\/\/api-cdn.myan[...]
