---
http_interactions:
- request:
    method: get
    uri: https://api.myanimelist.net/v2/anime/suggestions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"node":{"id":597,"title":"Neko no Ongaeshi","main_picture":{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/1\/597.jpg","large":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/1\/597l.jpg"}}},{"node":{"id":34914,"title":"New Game!!","main_picture":{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/4\/86790.jpg","large":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/4\/86790l.jpg"}}},{"node":{"id":1961,"title":"Arashi no Yoru ni","main_picture":{"medium":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/9\/5064.jpg","large":"https:\/\/api-cdn.myanimelist.net\/images\/anime\/9\/5064l.jpg"}}},{"node":{"id"[...]
